.head{
    height: 50px;
}

.title_text{
    text-align: center;
}

.title_text_title{
    font-size: 60px;
}

a{
  color: white;
}

html {
    height: 100%;
  }

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: hidden; 
    overflow-x: hidden; 
  }
  
main { 
    overflow-y: auto; 
    overflow-x: hidden; 
    background-color: whitesmoke;
} 

.main_end {
    background-color:white;    
}
    
  
footer{
    height: 100px;

  }
  
header{
    height: 80px;
    padding: 20px;    
  }

.back{
    margin: 0px 0px 0px 30px;
}

iframe {
    border-style: groove;
    border-width: 3px;
    padding: 5px;
    box-shadow: 10px 20px 30px grey;
}

.foot {
    padding-top: 20px;
}

.ich {
    text-align: right;
}

/* pictures  */

#layout {
    height: 600px;
}

#problem {
    height: 900px;
}

.style_code {
    height: 200px;
}

.style_html {
    height: 390px;
}

.style_other {
    height: 550px;
}

#smily {
    margin-left: 100px
}

#jsfiddle {
    height: 500px;
    margin-top: 50px;
}


li {
    font-size: 200%;
    margin-top: 20px;
}

.catchword {
    font-size: 300%;
    margin-bottom: 60px;
}

.name {
    font-size: 150%;
}

.welcome {
    margin-top: 100px;
}

.downloadcss{
    margin-left: 100px;
}

.downloadhtml{
    margin-left: 85px;
}

.end {
    font-size: 300%;
}